* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    height: 130px;
    display: flex;
    /* background-color: blue; */
    justify-content: space-around;
    align-items: center;


}

.nav-left {
    font-family: var(--font1);
    font-size: 20px;
    display: flex;
}

.logo{
    font-weight: bolder;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0px 50px;
    font-size: 18px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.5s ease-in-out;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}


.search-input {
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 7px;
    font-family: var(--font2);
}

.btn {
    font-size: 14px;
    font-family: var(--font2);
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.nav-left img {
    width: 73px;
    filter: invert();
}

.hr1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.content {
    height: 400px;
    /* background-color: yellow; */
    display: flex;
    position: relative;
}

.content::after{
    content: "";
    background-image: url("/img/11.svg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.2;
    z-index: -1;
    
}

.content-left {
    /* background-color: aqua; */
    font-family: var(--font2);
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
}

.content-left h1 {
    padding: 20px 0px;
}

.content-right {
    /* background-color: yellow; */
    font-family: var(--font2);
    width: 50%;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}


.content-right img {
    height: 350px;
    width: 350px;
    border: 2px solid black;
    border-radius: 33px;
}

.hr2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-articles {
      background-image: linear-gradient(135deg, aqua, yellow);
    /* margin-bottom: 60px; */
   
    /* display: flex; */
    /* flex-direction: column; */
    padding-bottom: 50px;
    position: relative;
}

.year-box{
    position: absolute;
    width: 190px;
    height: 190px;
    background-color: red;
    right: 35px;
    top: 100px;
}

.home-articles h2{
    padding: 15px;
}

.home-article{
   display: flex;
   margin: 20px;
}

.home-article-content a{
    text-decoration: none;
    color: black;
}

.home-article img{
    width: 250px;
    padding: 20px;
}

.home-article-content{
font:'Baloo Bhaina 2', cursive;
padding: 20px;
}


.hr3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer {
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    margin-top: 60px;
}

.footer a{
    color: white;
    text-decoration: none;
}

/* .form-control {} */